@import 'bootstrap/scss/bootstrap';

.overflow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;
}

.cardSize {
    width: 180px;
    height: 350px;
}

.card_text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

