@import 'bootstrap/scss/bootstrap';

.castCardsGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;
}

.castCard {
    width: 180px;
    height: 350px;
}